// src/styles/scss/question.scss
@import 'variables';

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 1.7rem;
  min-height: 100vh;
  background-size: cover;
  background-image: url('/public/assets/images/fondoPreguntas.webp');
  .tuCanHeader{
    display: flex;
    width: 100%;
    align-items: center;
    
    .miniLogo{
        width: 70px;
        z-index: 2;
    }
    .line {
        position: relative;
        right: 1rem;
        flex: 1;
        height: 1.1px;
        width: 10rem;
        background-color: $color-primary;
    }
  }
  .question-text{
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.7rem;
    color: $color-white;
    font-weight: 900;
    line-height: 3.6rem;
  }
  .divider {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem;
    .line {
      flex: 1;
      height: 0px;
      width: 3rem;
    }

    .arrow {
      margin: 0 1rem;
      width: 30px;
      height: auto;
    }
  }
  .options{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    color: $color-black;
    &.question2-options{
        margin-top: 9rem;
    }
    &.question3-options{
        width: 100%;
    }
    &.question5-options{
        margin-top: 9rem;
        width: 100%;
    }
    .option.wrong{
        background: $degrade-incorrecto;
        color: $color-black;
    }
    // Opción correcta con opacidad (cuando el usuario se equivoca)
    .option.correct.faded {
        background: $degrade-correcto-referencia;
        color: $color-white;
        border: $color-white 1px solid;
    }
    .option.correct{
        background: $degrade-correcto;
        color: $color-white;
        border: $color-white 1px solid;
    }
    .option{
        display: flex;
        justify-content: start;
        border: 0;
        background-color: transparent;
        font-family: "Nunito", sans-serif;
        font-size: 1.2rem;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 1px solid $color-primary;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        margin-bottom: 0.5rem;
        color: $color-black;
        .option-letter{
            font-weight: 900;
        }
        .optionText{
            margin-left: 0.5rem;
            text-align: start
        }
        
    }
  }
  .botonContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    .next-btn{
        background: $degrade-button;
        border: 2.5px solid $color-white;
        color: $color-white;
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.518);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        margin-top: 1rem;
        cursor: pointer;
        transition: background 0.3s;
        width: 60%;
        position: relative;
        img{
            position: absolute;
            right: 8px;
            top: 3px;
            height: 27px;
        }
      }
  }
  
}

@media (min-width: 400px) {

  
    .options {
      margin-top: 9rem !important;
    }
  

}

@media (min-width: 470px) {

  .question-container.question1-options{
    .divider{
      margin-bottom: 5rem !important;
    }
  }
  .question-container.question2-options{
    .divider{
      margin-bottom: 5rem !important;
    }
  }
  .question-container.question3-options{
    .divider{
      margin-bottom: 5rem !important;
    }
  }
  .question-container.question4-options{
    .divider{
      margin-bottom: 5rem !important;
    }
  }
  .question-container.question5-options{
    .divider{
      margin-bottom: 5rem !important;
    }
  }
}
@media (min-width: 510px) {

  .question-container.question1-options{
    .divider{
      margin-bottom: 12rem !important;
    }
  }
  .question-container.question2-options{
    .divider{
      margin-bottom: 13rem !important;
    }
  }
  .question-container.question3-options{
    .divider{
      margin-bottom: 14rem !important;
    }
  }
  .question-container.question4-options{
    .divider{
      margin-bottom: 14rem !important;
    }
  }
  .question-container.question5-options{
    .divider{
      margin-bottom: 13rem !important;
    }
  }
}